<p id="notice"><%= notice %></p>
<br><br>
<p>
  <strong>Name:</strong>
  <%= @buy_order.name %>
</p>

<p>
  <strong>Number order:</strong>
  <%= @buy_order.number_order %>
</p>

<p>
  <strong>Date delivery:</strong>
  <%= @buy_order.date_delivery %>
</p>

<p>
  <strong>Date order:</strong>
  <%= @buy_order.date_order %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @buy_order.payment %>
</p>
<br><br>
<% total = 0 %>

<p><% @buy_order.products.each do |product| %>
  <li> 
    <p><%= product.description %></p>
    <p><%= image_tag product.cover.url(:thumb)%></p>
    <p><%= number_to_currency(product.price, :unit =>'$') %></p>
    <p><% @quantyties.each do |hasBuyOrder| %>
      <% if product.id==hasBuyOrder.product_id %>
  <li> 
    <p>Cantidad: <%=hasBuyOrder.quantity %></p>    
    <%total+=hasBuyOrder.quantity*product.price%>
  </li>
  <%end%>
        <%end%>
</p>
  </li>

<br><br>
   <p>Total: <b><%=number_to_currency(total,:unit =>'$')%></b></p>
<br>

        <%end%>
</p>




<%= link_to 'Back', buy_orders_path %>

<br><br>
       </ul>
 <%= form_for(@buy_order) do |f| %>
  <% if @buy_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buy_order.errors.count, "error") %> prohibited this buy_order from being saved:</h2>
      <ul>
      <% @buy_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field" style="display:none">
    <%= f.label :payment %><br>
    <%= f.check_box :payment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
