<h1>Your Cart </h1>


<% if @cart.empty? %>
	<p>Your cart is empty</p>
<% else %>
	<%= link_to 'Cleanse Your Cart', cart_clear_path %>	
<%end%>
<br><br><br>

<% total = 0 %>

 <ul>
<% @products.each do | product | %>
	
	<li>
		<%productTemp=product[:product] %>
		<%quantity =product[:quantity]%>
		<%= link_to productTemp.title, productTemp%>
		<p><%= productTemp.description %></p>
		<p><%= image_tag productTemp.cover.url(:thumb)%></p>
		<p><%= number_to_currency(productTemp.price, :unit =>'$') %></p>
		<p>Quantity: <%=quantity%></p>
	</li>
<br><br>
	<%total+=quantity*productTemp.price%>
<% end %>
<br><br><br>
<% if user_signed_in?%>
  <%= link_to 'Keep Buying', products_path %>
<%end%>

<br><br>

<p><b><%=number_to_currency(total,:unit =>'$')%></b></p>
 </ul>
 <form accept-charset="UTF-8" action="/cart" method="post">
 <input type="submit" value="Checkout">
</form>
