  <div class="main-container col-xs-12">
    <div class="box">
      <div classs="" >
        <h1 class="text-center col-xs-12">Nueva Contraseña</h1>
      </div> 
      <div cloass="container form-group ">
        <div class="text-left ">
          <div class="main-container col-xs-12 ">
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, class:"form-control " %>
			  </div>

			  <div class="actions">
			  	 <%= f.label "Se enviaran instrucciones" %>
			    <%= f.submit "Enviar" , class:"form-control "%>
			  </div>
			<% end %>

			<div class="col-xs-12 btn-lg text-center">
				<%= render "devise/shared/links" %>
			</div> 
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>