<p id="notice"><%= notice %></p>
<h1> My Product </h1>
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%if @product.cover?%>
    <%= image_tag @product.cover.url , class:"t-id"%>   
  <% else %>
    <td></td> 
  <% end %> 

</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @product.subcategory %>
</p>

<div>
  <h4><a href="/cart/<%= @product.id %>"> Agregar al carrito</a></h4>  
</div> 

<% if user_signed_in?%>
  <%if current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product) %> |

  <%end%>
<%end%>
<%= link_to 'Back', products_path %>