<!DOCTYPE html>
<html>
<head>
  <title>Cartapp</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="nav">

    <div class="page_nav">
		<%= link_to "Shop", products_path %>

		<div class="collapse navbar-collapse col-sm-12" >
			<%= link_to "Home", root_path %>
			<%= link_to "Informacion", page_about_path %>
			<!-- <%= link_to "FAQs", page_faqs_path %> -->
			<%= link_to "Contacto", send_index_path %>
		</div>
	</div>
 	<div id="sign_in"> 


	<% if user_signed_in?%>
		<%= link_to "Salir", destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "Entrar", new_user_session_path %>
		<%= link_to "Crear Cuenta", new_user_registration_path %>
	<% end %>

	<% if user_signed_in?%>
        <a class="thumb pull-left img-responsive" href="/cart">
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
					<% if session[:cart] then%>
						<%=session[:cart].length  %>
					<%else %>
						0
					<%end%>	
            </button>                    
        </a>
    <% end %>  
	</div>	
</nav>

<div class="main_wrap">
	<div class="row jumbotron main">

		<%= yield %>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>	
</div>	



<footer class="footer  bs-docs-footer ">
    <div class=" ">     
    	<div class="visible-xs f col-xs-12 col-sm-1  " >
        <ul class=" list-inline text-right ">
             
             <li><%= link_to "Home", root_path, class:"blanco" %></li>
             <li><%= link_to "Informacion", page_about_path, class:"blanco" %></li>
            <!-- <li><%= link_to "FAQs", page_faqs_path, class:"blanco" %></li> -->
             <li><%= link_to "Contacto", send_index_path, class:"blanco" %></li>
             
        </ul>
    	</div>
    </div>
</footer>


</body>
</html>
